{
  "openapi": "3.0.3",
  "info": {
    "title": "Volumetric Gottland API",
    "version": "2026-10-08.2",
    "description": "## Куда обращаются методы\n\n| Система | Что это | Кто туда ходит |\n|---|---|---|\n| **БД** | Postgres в Supabase (supabase.gottland.ru), доступ service-ключом. Таблицы: `analyses` (замеры), `colmap_photos` (кадры), `scans` (обходы из приложения), `profiles`, `app_settings` (настройки GPU), `dust3r_results` (итоги расчётов) | бэкенд и приёмник |\n| **Storage** | файловое хранилище Supabase. Бакет `colmap`: фото, миниатюры, `scan.json`. Бакет `dust3r-ply`: модель и картинки расчёта | бэкенд (`colmap`), приёмник (читает `colmap`, пишет `dust3r-ply`) |\n| **GPU-сервер** | приёмник `receiver_dust3r.py` и раннер `dust3r_gpu.py` на арендованном сервере | только бэкенд, с ключом `X-Volmetric-Token` |\n| **Supabase Auth** | учётные записи и сессии: вход по почте и паролю, регистрация | только фронт, напрямую |\n\nn8n с 06.10.2026 в цепочке нет: бэкенд вызывает GPU-сервер напрямую."
  },
  "servers": [
    {
      "url": "https://volumetric.gottland.ru",
      "description": "Бэкенд сайта (nginx → FastAPI, порт 8000 в контейнере)"
    }
  ],
  "tags": [
    {
      "name": "Сайт · замеры",
      "description": "Бэкенд сайта. Создание замера по фото, история, пересчёт, удаление."
    },
    {
      "name": "Сайт · обходы из приложения",
      "description": "Бэкенд сайта. Загрузка обхода из VolmetricARKit, просмотр и запуск замера по нему."
    },
    {
      "name": "Сайт · профиль",
      "description": "Бэкенд сайта. Данные пользователя."
    },
    {
      "name": "Сайт · настройки GPU-сервера",
      "description": "Бэкенд сайта. Панель суперадмина в «Профиле»: адрес, режим Cube/VIO, ключ."
    },
    {
      "name": "Сайт · служебное",
      "description": "Бэкенд сайта."
    },
    {
      "name": "GPU-сервер · расчёт",
      "description": "Приёмник `receiver_dust3r.py`. Вызывается только бэкендом сайта, браузер сюда не ходит."
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "tags": [
          "Сайт · служебное"
        ],
        "summary": "Жив ли бэкенд · никуда не ходит",
        "operationId": "health",
        "x-calls": [],
        "security": [],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** открыт, ключ не нужен\n\n| Куда обращается | Что делает |\n|---|---|\n| — | никуда не обращается |\n\nБД и GPU-сервер не проверяются: ответ говорит только о том, что процесс запущен.",
        "responses": {
          "200": {
            "description": "Бэкенд запущен",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "service": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "status": "ok",
                  "service": "karelia-build-ai"
                }
              }
            }
          }
        }
      }
    },
    "/api/analyses/": {
      "post": {
        "tags": [
          "Сайт · замеры"
        ],
        "summary": "Создать замер по фото · БД, Storage, GPU",
        "operationId": "createAnalysis",
        "x-calls": [
          "db",
          "storage",
          "gpu"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `app_settings` | SELECT строки `key = gpu`: адрес, режим и ключ GPU-сервера |\n| БД · `analyses` | SELECT по `client_id` (защита от дублей), INSERT строки со статусом `pending`, UPDATE `photo_urls` и `thumbnail_urls` после загрузки |\n| Storage · бакет `colmap` | на каждое фото два файла: оригинал байт в байт `{analysis_id}/{uuid}.jpg` и миниатюра 400 px `{uuid}_thumb.jpg` |\n| БД · `colmap_photos` | INSERT строки на каждое фото: пути, ссылки, имя файла, EXIF |\n| GPU-сервер | в фоне, после ответа: `POST /run` с `wait: false`, затем `GET /result/{analysis_id}` раз в 5 с, пока не придёт `state: done` (предел ожидания 3600 с) |\n| БД · `analyses` | в фоне, по итогу расчёта: UPDATE `status` (`completed` / `error`), `result` (текст), `completed_at`, `ply_url`, `glb_url` |\n\nОтвет `202` приходит сразу после загрузки фото, расчёт идёт в фоне. Готовность смотреть по `GET /api/analyses/{analysis_id}`: поле `status`.\n\nСами фото на GPU-сервер не отправляются. Уходят id строк `colmap_photos`, EXIF и параметры куба, файлы сервер качает сам.\n\nПовтор с тем же `client_id` второй замер не создаёт: возвращается уже существующая строка с её текущим статусом.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "files"
                ],
                "properties": {
                  "files": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "binary"
                    },
                    "description": "Фото, от 1 до 100 штук. Каждое `image/*`, не больше 20 МБ. Порядок файлов равен порядку кадров в расчёте."
                  },
                  "title": {
                    "type": "string",
                    "default": "",
                    "description": "Название замера. Пусто: «Без названия»."
                  },
                  "notes": {
                    "type": "string",
                    "default": "",
                    "description": "Заметка к замеру."
                  },
                  "exif_data": {
                    "type": "string",
                    "default": "[]",
                    "description": "JSON-строка: массив объектов EXIF, по одному на файл, в том же порядке, что `files`. Фронт читает EXIF из оригинала библиотекой exifr. Не массив или битый JSON: считается, что EXIF нет.",
                    "example": "[{\"FocalLength\":4.2,\"FocalLengthIn35mmFormat\":26,\"ExifImageWidth\":3024,\"ExifImageHeight\":4032,\"ISO\":50}]"
                  },
                  "cube": {
                    "type": "string",
                    "default": "",
                    "description": "JSON-строка с параметрами калибровочного куба. Пусто или мусор: стандартный куб 4×4 клетки по 17,5 мм.",
                    "example": "{\"squares_per_side\":4,\"square_size_m\":0.0175}"
                  },
                  "client_id": {
                    "type": "string",
                    "format": "uuid",
                    "default": "",
                    "description": "UUID из очереди отправки на фронте. Становится `id` замера и защищает от дублей при повторной отправке."
                  },
                  "is_prod": {
                    "type": "boolean",
                    "default": false,
                    "deprecated": true,
                    "description": "Принимается для совместимости, ни на что не влияет."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Замер создан (или уже существовал), расчёт запущен в фоне",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisAccepted"
                },
                "example": {
                  "id": "53e1bd1a-7c1f-4b0e-9a55-2f1c7d0e8a11",
                  "status": "pending"
                }
              }
            }
          },
          "400": {
            "description": "Файлы не прошли проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Нужно хотя бы одно фото",
                    "value": {
                      "detail": "Нужно хотя бы одно фото"
                    }
                  },
                  "e2": {
                    "summary": "Максимум 100 фото",
                    "value": {
                      "detail": "Максимум 100 фото"
                    }
                  },
                  "e3": {
                    "summary": "Не изображение: IMG_0012.mov",
                    "value": {
                      "detail": "Не изображение: IMG_0012.mov"
                    }
                  },
                  "e4": {
                    "summary": "Файл IMG_0012.jpg больше 20 МБ. Сожмите его перед загрузкой.",
                    "value": {
                      "detail": "Файл IMG_0012.jpg больше 20 МБ. Сожмите его перед загрузкой."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Тело или параметры не прошли проверку типов (FastAPI)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "503": {
            "description": "Адрес GPU-сервера не задан ни в БД, ни в окружении",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Расчётный сервер не настроен. Обратитесь к администратору.",
                    "value": {
                      "detail": "Расчётный сервер не настроен. Обратитесь к администратору."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Сайт · замеры"
        ],
        "summary": "История замеров · БД",
        "operationId": "listAnalyses",
        "x-calls": [
          "db"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `analyses` | SELECT до 50 последних замеров, новые сверху |\n| БД · `profiles` | только для суперадмина: SELECT имени и компании владельцев |\n\nОбычный пользователь всегда получает только свои замеры, параметр `user_id` для него не действует.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Только для суперадмина: UUID пользователя или `all` (замеры всех)."
          }
        ],
        "responses": {
          "200": {
            "description": "Список замеров",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AnalysisListItem"
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/analyses/admin/users": {
      "get": {
        "tags": [
          "Сайт · замеры"
        ],
        "summary": "Список пользователей для фильтра истории · БД",
        "operationId": "adminListUsers",
        "x-calls": [
          "db"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя + `profiles.is_superadmin = true`\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `profiles` | SELECT `id, name, company, city` всех пользователей, по имени |\n\nФронт по этому же методу определяет права: `200` показывает выбор пользователя в истории, `403` скрывает.",
        "responses": {
          "200": {
            "description": "Пользователи",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "name": {
                        "type": "string",
                        "nullable": true
                      },
                      "company": {
                        "type": "string",
                        "nullable": true
                      },
                      "city": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization либо пользователь не суперадмин",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Недостаточно прав",
                    "value": {
                      "detail": "Недостаточно прав"
                    }
                  },
                  "e2": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/analyses/{analysis_id}": {
      "get": {
        "tags": [
          "Сайт · замеры"
        ],
        "summary": "Один замер со всеми полями · БД",
        "operationId": "getAnalysis",
        "x-calls": [
          "db"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "parameters": [
          {
            "name": "analysis_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "id замера (строка `analyses`)."
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `analyses` | SELECT `*` строки по `id` |\n\nЭтим методом фронт опрашивает готовность замера: пока `status = pending`, расчёт ещё идёт.",
        "responses": {
          "200": {
            "description": "Строка замера",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisRow"
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Замера нет либо он чужой (суперадмин видит любые)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Анализ не найден",
                    "value": {
                      "detail": "Анализ не найден"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Сайт · замеры"
        ],
        "summary": "Удалить замер и его фото · БД, Storage",
        "operationId": "deleteAnalysis",
        "x-calls": [
          "db",
          "storage"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "parameters": [
          {
            "name": "analysis_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "id замера (строка `analyses`)."
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `analyses` | SELECT для проверки владельца, затем DELETE строки |\n| БД · `colmap_photos` | SELECT путей файлов; сами строки удаляются каскадом вместе с замером |\n| Storage · бакет `colmap` | удаление оригиналов и миниатюр замера |\n\nФайлы модели в бакете `dust3r-ply` этот метод не удаляет.",
        "responses": {
          "200": {
            "description": "Удалено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Замера нет либо он чужой (суперадмин видит любые)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Анализ не найден",
                    "value": {
                      "detail": "Анализ не найден"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/analyses/{analysis_id}/rerun": {
      "post": {
        "tags": [
          "Сайт · замеры"
        ],
        "summary": "Пересчитать замер по уже загруженным фото · БД, GPU",
        "operationId": "rerunAnalysis",
        "x-calls": [
          "db",
          "gpu"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "parameters": [
          {
            "name": "analysis_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "id замера (строка `analyses`)."
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `app_settings` | SELECT строки `key = gpu`: адрес, режим и ключ GPU-сервера |\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `analyses` | SELECT `*` строки, UPDATE: `status = pending`, `result` и `completed_at` обнуляются |\n| БД · `colmap_photos` | в фоне: SELECT кадров замера (по `analyze_id`, у обхода по `scan_id`) с EXIF и данными ARKit |\n| БД · `scans` | в фоне, только если замер сделан по обходу: SELECT строки обхода |\n| GPU-сервер | в фоне, после ответа: `POST /run` с `wait: false`, затем `GET /result/{analysis_id}` раз в 5 с, пока не придёт `state: done` (предел ожидания 3600 с) |\n| БД · `analyses` | в фоне, по итогу расчёта: UPDATE `status` (`completed` / `error`), `result` (текст), `completed_at`, `ply_url`, `glb_url` |\n\nФото повторно не загружаются. Прежний результат стирается сразу, до расчёта.\n\nПерезапустить можно и замер в статусе `pending`: так поднимают запись, зависшую после перезапуска бэкенда.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RerunRequest"
              },
              "example": {
                "cube": {
                  "squares_per_side": 4,
                  "square_size_m": 0.0175
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Пересчёт запущен в фоне",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending"
                      ]
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "test",
                        "prod"
                      ],
                      "description": "Отражает присланный `is_prod`, на расчёт не влияет."
                    }
                  }
                },
                "example": {
                  "id": "53e1bd1a-7c1f-4b0e-9a55-2f1c7d0e8a11",
                  "status": "pending",
                  "mode": "test"
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Замера нет либо он чужой (суперадмин видит любые)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Анализ не найден",
                    "value": {
                      "detail": "Анализ не найден"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Тело или параметры не прошли проверку типов (FastAPI)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "503": {
            "description": "Адрес GPU-сервера не задан ни в БД, ни в окружении",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Расчётный сервер не настроен. Обратитесь к администратору.",
                    "value": {
                      "detail": "Расчётный сервер не настроен. Обратитесь к администратору."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/profile/": {
      "get": {
        "tags": [
          "Сайт · профиль"
        ],
        "summary": "Профиль текущего пользователя · БД",
        "operationId": "getProfile",
        "x-calls": [
          "db"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `*` строки с `id` текущего пользователя |",
        "responses": {
          "200": {
            "description": "Строка профиля",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Profile"
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Сайт · профиль"
        ],
        "summary": "Сохранить профиль · БД",
        "operationId": "updateProfile",
        "x-calls": [
          "db"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | UPSERT строки с `id` текущего пользователя |\n\nЗаписываются все шесть полей сразу. Поле, которого нет в теле, сохранится как `null`, `emails` как пустой список. Присылать нужно профиль целиком.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProfileUpdate"
              },
              "example": {
                "name": "Яков",
                "company": "Volumetric Gottland",
                "position": "Разработчик",
                "city": "Петрозаводск",
                "phone": "+7 921 123-45-67",
                "emails": [
                  "report@example.ru"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Сохранено",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ok"
                },
                "example": {
                  "ok": true
                }
              }
            }
          },
          "400": {
            "description": "Телефон или почта не прошли проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Номер телефона указан неверно: нужен российский номер, +7 и 10 цифр",
                    "value": {
                      "detail": "Номер телефона указан неверно: нужен российский номер, +7 и 10 цифр"
                    }
                  },
                  "e2": {
                    "summary": "Адрес почты указан с ошибкой: user@@mail",
                    "value": {
                      "detail": "Адрес почты указан с ошибкой: user@@mail"
                    }
                  },
                  "e3": {
                    "summary": "Адресов для результатов может быть не больше 5",
                    "value": {
                      "detail": "Адресов для результатов может быть не больше 5"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Тело или параметры не прошли проверку типов (FastAPI)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/scans/": {
      "get": {
        "tags": [
          "Сайт · обходы из приложения"
        ],
        "summary": "Список обходов · БД",
        "operationId": "listScans",
        "x-calls": [
          "db"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `scans` | SELECT до 100 неудалённых обходов, новые сверху |\n| БД · `colmap_photos` | SELECT первого кадра каждого обхода для обложки |\n| БД · `profiles` | SELECT имени и города авторов |\n| БД · `analyses` | SELECT последнего замера по каждому обходу |",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Снято не раньше этого момента (`captured_at`)."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Снято не позже этого момента."
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Только для суперадмина: UUID пользователя или `all`."
          }
        ],
        "responses": {
          "200": {
            "description": "Обходы",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ScanListItem"
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Сайт · обходы из приложения"
        ],
        "summary": "Завести обход перед загрузкой кадров · БД",
        "operationId": "createScan",
        "x-calls": [
          "db"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `scans` | SELECT по `id`; INSERT со статусом `uploading` либо UPDATE метаданных при повторе |\n| БД · `colmap_photos` | при повторе: SELECT номеров уже загруженных кадров |\n\nПервый шаг загрузки из приложения VolmetricARKit. `id` придумывает телефон.\n\nПовтор с тем же `id` безопасен: в `uploaded` приходят номера кадров, которые уже лежат на сервере, и телефон докачивает остальные.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanCreate"
              },
              "example": {
                "id": "0b6f6f2e-51a8-4c0a-9d3c-0d2f1c8b7a10",
                "title": "Щебень, Ладва",
                "captured_at": "2026-10-04T12:20:00+03:00",
                "frame_count": 64,
                "duration_s": 92.5,
                "device_model": "iPhone13,2",
                "app_version": "1.04.001",
                "lat": 61.36,
                "lon": 34.61,
                "loc_accuracy_m": 6.0,
                "tracking_segments": 1,
                "frames_degraded": 0
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Обход заведён или уже существовал",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanUploadState"
                },
                "example": {
                  "id": "0b6f6f2e-51a8-4c0a-9d3c-0d2f1c8b7a10",
                  "status": "uploading",
                  "uploaded": [
                    0,
                    1,
                    2
                  ]
                }
              }
            }
          },
          "400": {
            "description": "id не UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "id обхода должен быть UUID",
                    "value": {
                      "detail": "id обхода должен быть UUID"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "id занят чужим обходом",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Обход с таким id уже есть у другого пользователя",
                    "value": {
                      "detail": "Обход с таким id уже есть у другого пользователя"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Тело или параметры не прошли проверку типов (FastAPI)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/scans/{scan_id}/frames/{index}": {
      "put": {
        "tags": [
          "Сайт · обходы из приложения"
        ],
        "summary": "Загрузить один кадр обхода · БД, Storage",
        "operationId": "uploadFrame",
        "x-calls": [
          "db",
          "storage"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "id обхода (строка `scans`)."
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Номер кадра: от 0 до `frame_count - 1`."
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`), только автор обхода\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `scans` | SELECT обхода и проверка владельца |\n| БД · `colmap_photos` | SELECT: нет ли уже такого кадра; INSERT строки кадра с `arkit` и `exif` |\n| Storage · бакет `colmap` | оригинал байт в байт `scans/{scan_id}/{NNN}.jpg` и миниатюра `{NNN}_thumb.jpg` |\n\nПовтор того же кадра файл заново не пишет: приходит прежний ответ с `duplicate: true`.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "JPEG кадра, не больше 25 МБ."
                  },
                  "meta": {
                    "type": "string",
                    "default": "{}",
                    "description": "JSON-строка с данными ARKit по кадру. В БД попадают ключи: `index`, `timestamp`, `width`, `height`, `intrinsics`, `cameraTransform`, `eulerAngles`, `trackingState`, `trackingReason`, `worldMappingStatus`, `exposureDuration`, `exposureOffset`, `ambientIntensity`, `ambientColorTemperature`, `sharpness`, `motionBlurPx`, `trackingSegment`, `featurePointCount`, `location`, `heading`, `device`. Вложенный объект `exif` сохраняется отдельно как EXIF кадра.",
                    "example": "{\"index\":0,\"width\":1920,\"height\":1440,\"intrinsics\":[1447.2,0,0,0,1447.2,0,959.5,719.5,1],\"cameraTransform\":[1,0,0,0,0,1,0,0,0,0,1,0,0.12,1.41,-0.3,1],\"trackingState\":\"normal\"}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Кадр на сервере",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrameUploaded"
                },
                "example": {
                  "index": 0,
                  "id": "9d0c7f1a-3d3b-4a52-8a61-5b0f2b9f0c11",
                  "public_url": "https://supabase.gottland.ru/storage/v1/object/public/colmap/scans/0b6f…/000.jpg"
                }
              }
            }
          },
          "400": {
            "description": "Запрос не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Некорректный id обхода",
                    "value": {
                      "detail": "Некорректный id обхода"
                    }
                  },
                  "e2": {
                    "summary": "Номер кадра вне обхода: 64",
                    "value": {
                      "detail": "Номер кадра вне обхода: 64"
                    }
                  },
                  "e3": {
                    "summary": "Пустой кадр",
                    "value": {
                      "detail": "Пустой кадр"
                    }
                  },
                  "e4": {
                    "summary": "meta — не JSON",
                    "value": {
                      "detail": "meta — не JSON"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Обхода нет, он удалён либо чужой",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Обход не найден",
                    "value": {
                      "detail": "Обход не найден"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Файл слишком большой",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Кадр больше 25 МБ",
                    "value": {
                      "detail": "Кадр больше 25 МБ"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Тело или параметры не прошли проверку типов (FastAPI)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/api/scans/{scan_id}/complete": {
      "post": {
        "tags": [
          "Сайт · обходы из приложения"
        ],
        "summary": "Завершить загрузку обхода · БД, Storage",
        "operationId": "completeScan",
        "x-calls": [
          "db",
          "storage"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "id обхода (строка `scans`)."
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`), только автор обхода\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `scans` | SELECT обхода; UPDATE `status = ready`, когда все кадры на месте |\n| Storage · бакет `colmap` | запись `scans/{scan_id}/scan.json`, если файл прислан |\n| БД · `colmap_photos` | SELECT номеров загруженных кадров |\n\nЕсли кадров не хватает, статус не меняется, а в `missing` приходят недостающие номера (первые 200). Код ответа при этом тоже `200`.",
        "requestBody": {
          "required": false,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "scan_json": {
                    "type": "string",
                    "format": "binary",
                    "description": "Файл scan.json из приложения целиком (позы и разреженное облако ARKit), до 40 МБ."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Состояние загрузки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanCompleteState"
                },
                "example": {
                  "id": "0b6f6f2e-51a8-4c0a-9d3c-0d2f1c8b7a10",
                  "status": "ready",
                  "missing": [],
                  "uploaded": 64
                }
              }
            }
          },
          "400": {
            "description": "id не UUID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Некорректный id обхода",
                    "value": {
                      "detail": "Некорректный id обхода"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Обхода нет, он удалён либо чужой",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Обход не найден",
                    "value": {
                      "detail": "Обход не найден"
                    }
                  }
                }
              }
            }
          },
          "413": {
            "description": "Файл слишком большой",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "scan.json больше 40 МБ",
                    "value": {
                      "detail": "scan.json больше 40 МБ"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/scans/{scan_id}/track": {
      "get": {
        "tags": [
          "Сайт · обходы из приложения"
        ],
        "summary": "Траектория камеры для карты · БД",
        "operationId": "scanTrack",
        "x-calls": [
          "db"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "id обхода (строка `scans`)."
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `scans` | SELECT для проверки доступа |\n| БД · `colmap_photos` | SELECT кадров обхода с позами ARKit |\n\nПозиции камеры считаются из `cameraTransform` каждого кадра. Блок `geo` есть, только когда в кадрах записан GPS с погрешностью до 30 м: по нему и по компасу траектория привязывается к карте.",
        "responses": {
          "200": {
            "description": "Траектория",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Track"
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Обхода нет, он удалён либо чужой",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Обход не найден",
                    "value": {
                      "detail": "Обход не найден"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/scans/{scan_id}/cloud": {
      "get": {
        "tags": [
          "Сайт · обходы из приложения"
        ],
        "summary": "Облако точек ARKit для 3D-просмотра · БД, Storage",
        "operationId": "scanCloud",
        "x-calls": [
          "db",
          "storage"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "id обхода (строка `scans`)."
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `scans` | SELECT для проверки доступа и пути в хранилище |\n| Storage · бакет `colmap` | чтение готового `cloud.v2.json`; если его нет, чтение `scan.json`, сборка облака и запись `cloud.v2.json` на будущее |\n\nЭто облако телефона (ARKit), а не модель DUSt3R. Не больше 6000 точек, координаты в метрах, ось y вверх. Ответ сжат gzip, если клиент это умеет.",
        "responses": {
          "200": {
            "description": "Облако",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cloud"
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Нет обхода или его scan.json",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Обход не найден",
                    "value": {
                      "detail": "Обход не найден"
                    }
                  },
                  "e2": {
                    "summary": "У обхода нет scan.json — облако недоступно",
                    "value": {
                      "detail": "У обхода нет scan.json — облако недоступно"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/scans/{scan_id}/analyze": {
      "post": {
        "tags": [
          "Сайт · обходы из приложения"
        ],
        "summary": "Запустить замер по обходу · БД, GPU",
        "operationId": "analyzeScan",
        "x-calls": [
          "db",
          "gpu"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "parameters": [
          {
            "name": "scan_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "id обхода (строка `scans`)."
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя (`Authorization: Bearer <access_token Supabase>`)\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `app_settings` | SELECT строки `key = gpu`: адрес, режим и ключ GPU-сервера |\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `scans` | SELECT обхода, проверка `status = ready` |\n| БД · `colmap_photos` | SELECT всех кадров обхода с EXIF и данными ARKit |\n| БД · `analyses` | SELECT по `client_id` (защита от дублей), INSERT строки `pending` со ссылкой `scan_id` |\n| GPU-сервер | в фоне, после ответа: `POST /run` с `wait: false`, затем `GET /result/{analysis_id}` раз в 5 с, пока не придёт `state: done` (предел ожидания 3600 с) |\n| БД · `analyses` | в фоне, по итогу расчёта: UPDATE `status` (`completed` / `error`), `result` (текст), `completed_at`, `ply_url`, `glb_url` |\n\nНа GPU-сервер уходят все кадры обхода без прореживания, по каждому кадру поза и intrinsics ARKit, плюс путь к `scan.json` в хранилище. Замер записывается на автора обхода, даже если его запустил суперадмин.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanAnalyzeRequest"
              },
              "example": {
                "title": "Щебень, Ладва",
                "notes": "",
                "cube": {
                  "squares_per_side": 4,
                  "square_size_m": 0.0175
                },
                "client_id": "7a1d1c36-0f0e-4f8a-8b1a-6f6a3d2f9e55"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Замер создан (или уже существовал), расчёт запущен в фоне",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "completed",
                        "error"
                      ]
                    },
                    "scan_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "cube",
                        "vio"
                      ],
                      "description": "Режим масштаба из настроек GPU-сервера. Нет в ответе на повтор с тем же `client_id`."
                    }
                  }
                },
                "example": {
                  "id": "7a1d1c36-0f0e-4f8a-8b1a-6f6a3d2f9e55",
                  "status": "pending",
                  "scan_id": "0b6f6f2e-51a8-4c0a-9d3c-0d2f1c8b7a10",
                  "mode": "cube"
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Обхода нет, он удалён либо чужой",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Обход не найден",
                    "value": {
                      "detail": "Обход не найден"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Обход не готов к расчёту",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Обход ещё не загружен полностью",
                    "value": {
                      "detail": "Обход ещё не загружен полностью"
                    }
                  },
                  "e2": {
                    "summary": "У обхода нет кадров в хранилище",
                    "value": {
                      "detail": "У обхода нет кадров в хранилище"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Тело или параметры не прошли проверку типов (FastAPI)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "503": {
            "description": "Адрес GPU-сервера не задан ни в БД, ни в окружении",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Расчётный сервер не настроен. Обратитесь к администратору.",
                    "value": {
                      "detail": "Расчётный сервер не настроен. Обратитесь к администратору."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/gpu": {
      "get": {
        "tags": [
          "Сайт · настройки GPU-сервера"
        ],
        "summary": "Текущий адрес и режим GPU-сервера · БД",
        "operationId": "getGpuSettings",
        "x-calls": [
          "db"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя + `profiles.is_superadmin = true`\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `app_settings` | SELECT строки `key = gpu`: адрес, режим и ключ GPU-сервера |\n\nЕсли строки в БД нет, значения берутся из переменных окружения бэкенда `GPU_SERVER_URL`, `GPU_MODE`, `GPU_TOKEN`. Сам ключ не возвращается никогда.",
        "responses": {
          "200": {
            "description": "Настройки без ключа",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GpuSettingsPublic"
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization либо пользователь не суперадмин",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Только для администратора",
                    "value": {
                      "detail": "Только для администратора"
                    }
                  },
                  "e2": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Сайт · настройки GPU-сервера"
        ],
        "summary": "Сохранить адрес, режим и ключ GPU-сервера · БД",
        "operationId": "updateGpuSettings",
        "x-calls": [
          "db"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя + `profiles.is_superadmin = true`\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `app_settings` | SELECT текущих настроек, UPSERT строки `key = gpu` |\n\nАдрес приводится к виду `http(s)://хост[:порт]/run`: `1.2.3.4:6007` сохранится как `http://1.2.3.4:6007/run`. Связь с сервером при сохранении не проверяется, для этого есть `/check`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GpuSettingsUpdate"
              },
              "example": {
                "url": "http://1.2.3.4:6007",
                "mode": "cube",
                "token": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Сохранённые настройки без ключа",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GpuSettingsPublic"
                }
              }
            }
          },
          "400": {
            "description": "Режим, адрес или ключ с ошибкой",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Режим масштаба: cube или vio",
                    "value": {
                      "detail": "Режим масштаба: cube или vio"
                    }
                  },
                  "e2": {
                    "summary": "Адрес расчётного сервера указан с ошибкой",
                    "value": {
                      "detail": "Адрес расчётного сервера указан с ошибкой"
                    }
                  },
                  "e3": {
                    "summary": "Ключ доступа: только латиница, цифры и знаки без пробелов, до 200 символов",
                    "value": {
                      "detail": "Ключ доступа: только латиница, цифры и знаки без пробелов, до 200 символов"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization либо пользователь не суперадмин",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Только для администратора",
                    "value": {
                      "detail": "Только для администратора"
                    }
                  },
                  "e2": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Тело или параметры не прошли проверку типов (FastAPI)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          },
          "503": {
            "description": "Нет таблицы `app_settings`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Таблица настроек не создана. Выполните supabase/migration_app_settings.sql в SQL-редакторе Supabase.",
                    "value": {
                      "detail": "Таблица настроек не создана. Выполните supabase/migration_app_settings.sql в SQL-редакторе Supabase."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/admin/gpu/check": {
      "post": {
        "tags": [
          "Сайт · настройки GPU-сервера"
        ],
        "summary": "Проверить связь с GPU-сервером · БД, GPU",
        "operationId": "checkGpu",
        "x-calls": [
          "db",
          "gpu"
        ],
        "security": [
          {
            "userJWT": []
          }
        ],
        "description": "**Сервис:** Бэкенд сайта  \n**Доступ:** JWT пользователя + `profiles.is_superadmin = true`\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `profiles` | SELECT `is_superadmin` текущего пользователя |\n| БД · `app_settings` | SELECT строки `key = gpu`: адрес, режим и ключ GPU-сервера |\n| GPU-сервер | `GET /health` с ключом, ожидание до 8 с. Расчёт не запускается |\n\nПустое тело проверяет сохранённые настройки. Заполненные `url` и `token` проверяются без сохранения.\n\nНеудачная проверка тоже отвечает `200`: смотреть нужно на `ok` и `error`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GpuCheckRequest"
              },
              "example": {
                "url": "http://1.2.3.4:6007"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Итог проверки",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GpuCheckResult"
                },
                "example": {
                  "ok": true,
                  "run_url": "http://1.2.3.4:6007/run",
                  "ms": 84,
                  "error": null,
                  "engine": "dust3r",
                  "code_edit_msk": "06.10.2026 22:32",
                  "auth_required": true,
                  "token_ok": true,
                  "scale_modes_ready": [
                    "cube"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Адрес не задан или с ошибкой",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Адрес расчётного сервера не задан",
                    "value": {
                      "detail": "Адрес расчётного сервера не задан"
                    }
                  },
                  "e2": {
                    "summary": "Адрес должен начинаться с http:// или https://",
                    "value": {
                      "detail": "Адрес должен начинаться с http:// или https://"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "JWT не прошёл проверку",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Токен истёк или неверен",
                    "value": {
                      "detail": "Токен истёк или неверен"
                    }
                  },
                  "e2": {
                    "summary": "Невалидный токен",
                    "value": {
                      "detail": "Невалидный токен"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Нет заголовка Authorization либо пользователь не суперадмин",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Только для администратора",
                    "value": {
                      "detail": "Только для администратора"
                    }
                  },
                  "e2": {
                    "summary": "Not authenticated",
                    "value": {
                      "detail": "Not authenticated"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Тело или параметры не прошли проверку типов (FastAPI)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "servers": [
        {
          "url": "http://{gpu_host}:{port}",
          "description": "GPU-сервер. Адрес задаёт суперадмин в «Профиле» сайта (таблица app_settings).",
          "variables": {
            "gpu_host": {
              "default": "gpu-server",
              "description": "IP или имя арендованного сервера"
            },
            "port": {
              "default": "6007",
              "enum": [
                "6007",
                "6006"
              ],
              "description": "6007: папка VIO_Technology; 6006: старая папка dust3r"
            }
          }
        }
      ],
      "get": {
        "tags": [
          "GPU-сервер · расчёт"
        ],
        "summary": "Жив ли приёмник и подходит ли ключ · никуда не ходит",
        "operationId": "receiverHealth",
        "x-calls": [],
        "security": [
          {},
          {
            "gpuToken": []
          },
          {
            "gpuBearer": []
          }
        ],
        "description": "**Сервис:** GPU-сервер (приёмник)  \n**Доступ:** открыт, ключ не нужен; с ключом в ответе появляется `token_ok`\n\n| Куда обращается | Что делает |\n|---|---|\n| — | никуда не обращается |\n\nВсегда отвечает `200`. Вызывается бэкендом из `POST /api/admin/gpu/check`.",
        "responses": {
          "200": {
            "description": "Приёмник запущен",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiverHealth"
                },
                "example": {
                  "status": "ok",
                  "service": "volmetric-receiver",
                  "code_edit_msk": "06.10.2026 22:32",
                  "engine": "dust3r",
                  "port": 6007,
                  "auth_required": true,
                  "scale_modes": [
                    "cube",
                    "vio"
                  ],
                  "scale_modes_ready": [
                    "cube"
                  ],
                  "async_run": true,
                  "arkit_focal": true,
                  "jobs_running": 0,
                  "token_ok": true
                }
              }
            }
          }
        }
      }
    },
    "/run": {
      "servers": [
        {
          "url": "http://{gpu_host}:{port}",
          "description": "GPU-сервер. Адрес задаёт суперадмин в «Профиле» сайта (таблица app_settings).",
          "variables": {
            "gpu_host": {
              "default": "gpu-server",
              "description": "IP или имя арендованного сервера"
            },
            "port": {
              "default": "6007",
              "enum": [
                "6007",
                "6006"
              ],
              "description": "6007: папка VIO_Technology; 6006: старая папка dust3r"
            }
          }
        }
      ],
      "post": {
        "tags": [
          "GPU-сервер · расчёт"
        ],
        "summary": "Запустить расчёт объёма · БД, Storage, диск и GPU сервера",
        "operationId": "receiverRun",
        "x-calls": [
          "db",
          "storage",
          "gpu-local"
        ],
        "security": [
          {
            "gpuToken": []
          },
          {
            "gpuBearer": []
          }
        ],
        "description": "**Сервис:** GPU-сервер (приёмник)  \n**Доступ:** ключ приёмника (`X-Volmetric-Token` или `Authorization: Bearer`). Если `RECEIVER_TOKEN` на сервере пуст, проверки нет\n\n| Куда обращается | Что делает |\n|---|---|\n| БД · `colmap_photos` | SELECT `public_url` по каждому id из `photo_ids` |\n| Storage · бакет `colmap` | скачивание оригиналов кадров по ссылкам и `scan.json` обхода |\n| Диск сервера | папка прогона `volmetric/projects/{analysis_id}/`: кадры `000.jpg…`, `exif.json`, `arkit.json`, `scan.json`, модель, `run_result.json` |\n| Раннер `dust3r_gpu.py` | реконструкция DUSt3R или MASt3R на GPU, поиск куба, масштаб, объём. Один расчёт за раз, остальные ждут в очереди; предел 3600 с |\n| Storage · бакет `dust3r-ply` | запись `{analysis_id}/dust3r_output.ply` и четырёх PNG: `heatmap_top`, `heatmap_side`, `cloud_top`, `cloud_side` |\n| БД · `dust3r_results` | INSERT строки при любом исходе, включая ошибку |\n| БД · `analyses` | PATCH строки замера: ссылки на картинки, `up_vector`, `up_vector_glb`. Статус и текст результата приёмник не трогает, их пишет бэкенд сайта |\n\nВызывается бэкендом сайта, браузер сюда не ходит.\n\nДва режима ответа, выбирает поле `wait`:\n\n- `wait: false` (так ходит сайт): сразу `202`, результат забирать по `GET /result/{analysis_id}`;\n- поля нет или `true`: соединение держится до конца расчёта, в ответе `200` с объектом результата.\n\nОшибка расчёта в синхронном режиме приходит с кодом `200` и `status: error`. Смотреть нужно на `status`, а не на код.\n\nРежим `vio` пока не считается: данные обхода сохраняются, объём считается по кубу, в ответе `scale_mode: cube`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunRequest"
              },
              "example": {
                "analysis_id": "53e1bd1a-7c1f-4b0e-9a55-2f1c7d0e8a11",
                "photo_ids": [
                  "9d0c7f1a-3d3b-4a52-8a61-5b0f2b9f0c11",
                  "1f2e3d4c-5b6a-4789-90ab-cdef01234567"
                ],
                "wait": false,
                "exif": [
                  {
                    "photo_index": 0,
                    "exif": {
                      "focal_real": 4.2,
                      "focal_35mm": 26,
                      "orig_width": 3024,
                      "orig_height": 4032
                    }
                  }
                ],
                "cube": {
                  "squares_per_side": 4,
                  "square_size_m": 0.0175
                },
                "mode": "cube",
                "source": "site"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "`wait: false`: задача принята. Если такая уже считается, приходит то же с `duplicate: true`, второй расчёт не запускается",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunAccepted"
                },
                "example": {
                  "status": "accepted",
                  "state": "running",
                  "analysis_id": "53e1bd1a-7c1f-4b0e-9a55-2f1c7d0e8a11"
                }
              }
            }
          },
          "200": {
            "description": "Синхронный режим: расчёт закончен (в том числе с ошибкой)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResult"
                }
              }
            }
          },
          "400": {
            "description": "Тело не JSON либо нет обязательных полей",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Invalid JSON: Expecting value: line 1 column 1 (char 0)",
                    "value": {
                      "detail": "Invalid JSON: Expecting value: line 1 column 1 (char 0)"
                    }
                  },
                  "e2": {
                    "summary": "analysis_id and photo_ids are required",
                    "value": {
                      "detail": "analysis_id and photo_ids are required"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ключа нет или он неверный",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Неверный или отсутствующий ключ доступа",
                    "value": {
                      "detail": "Неверный или отсутствующий ключ доступа"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/result/{analysis_id}": {
      "servers": [
        {
          "url": "http://{gpu_host}:{port}",
          "description": "GPU-сервер. Адрес задаёт суперадмин в «Профиле» сайта (таблица app_settings).",
          "variables": {
            "gpu_host": {
              "default": "gpu-server",
              "description": "IP или имя арендованного сервера"
            },
            "port": {
              "default": "6007",
              "enum": [
                "6007",
                "6006"
              ],
              "description": "6007: папка VIO_Technology; 6006: старая папка dust3r"
            }
          }
        }
      ],
      "get": {
        "tags": [
          "GPU-сервер · расчёт"
        ],
        "summary": "Забрать исход расчёта · память и диск сервера",
        "operationId": "receiverResult",
        "x-calls": [
          "gpu-local"
        ],
        "security": [
          {
            "gpuToken": []
          },
          {
            "gpuBearer": []
          }
        ],
        "parameters": [
          {
            "name": "analysis_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{1,80}$"
            },
            "description": "Тот же id, что был в `POST /run`."
          }
        ],
        "description": "**Сервис:** GPU-сервер (приёмник)  \n**Доступ:** ключ приёмника (`X-Volmetric-Token` или `Authorization: Bearer`)\n\n| Куда обращается | Что делает |\n|---|---|\n| Память приёмника | таблица задач, до 200 последних |\n| Диск сервера | `volmetric/projects/{analysis_id}/run_result.json`, если задачи нет в памяти (после перезапуска приёмника) |\n\nБэкенд сайта опрашивает этот метод раз в 5 с.\n\n`state: done` значит «расчёт закончился», а не «удался»: исход в `result.status`.\n\nГотовый результат переживает перезапуск приёмника, незаконченная задача нет: после перезапуска будет `404`. Три ответа `404` подряд бэкенд считает потерей задачи и ставит замеру статус `error`.",
        "responses": {
          "200": {
            "description": "Задача считается или закончена",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobState"
                },
                "examples": {
                  "running": {
                    "summary": "считается или ждёт очереди",
                    "value": {
                      "analysis_id": "53e1bd1a-…",
                      "state": "running",
                      "elapsed_sec": 42.0
                    }
                  },
                  "done": {
                    "summary": "закончена",
                    "value": {
                      "analysis_id": "53e1bd1a-…",
                      "state": "done",
                      "elapsed_sec": 181.3,
                      "result": {
                        "status": "success",
                        "analysis_id": "53e1bd1a-…",
                        "volume_m3": 2.2531,
                        "cube_status": "found",
                        "scale_reliable": true,
                        "ply_url": "https://supabase.gottland.ru/storage/v1/object/public/dust3r-ply/53e1bd1a-…/dust3r_output.ply"
                      }
                    }
                  },
                  "from_disk": {
                    "summary": "прочитана с диска после перезапуска",
                    "value": {
                      "analysis_id": "53e1bd1a-…",
                      "state": "done",
                      "from_disk": true,
                      "result": {
                        "status": "success",
                        "analysis_id": "53e1bd1a-…"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "id не подходит под шаблон",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Некорректный analysis_id",
                    "value": {
                      "detail": "Некорректный analysis_id"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ключа нет или он неверный",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Неверный или отсутствующий ключ доступа",
                    "value": {
                      "detail": "Неверный или отсутствующий ключ доступа"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Приёмник не знает такой задачи",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "e1": {
                    "summary": "Задача неизвестна",
                    "value": {
                      "detail": "Задача неизвестна"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Причина, готовый текст."
          }
        },
        "required": [
          "detail"
        ]
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "loc": {
                  "type": "array",
                  "items": {}
                },
                "msg": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Ok": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        }
      },
      "Cube": {
        "type": "object",
        "description": "Калибровочный куб с шахматным рисунком.",
        "properties": {
          "squares_per_side": {
            "type": "integer",
            "default": 4,
            "description": "Клеток на стороне грани. Приёмник принимает 3…10, иначе берёт 4."
          },
[...]
